html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  line-height: 30px;
  @extend %dmsans-700;
  display: flex;
  flex-direction: column;
  color: $default;
}
.main {
  flex-grow: 1;
}
.wrapper {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-size: 36px;
  line-height: 48px;
  color: $title-home;
  text-align: center;
  @extend %dmsans-700;
}
.filter-list {
  display: flex;
  justify-content: center;
}
.filter-btn {
  border: none;
  background-color: transparent;
  @extend %dmsans-700;
  font-size: 16px;
  line-height: 30px;
  color: $default-home;
  cursor: pointer;
  & + .filter-btn {
    margin-left: 30px;
  }
  &.mixitup-control-active {
    color: $title-home;
  }
}

.top {
  padding: 35px 0 25px;
  background-color: #edf1f4;
  text-align: center;
  &__title {
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
    @extend %rubik-300;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    padding-right: 20px;
    position: relative;
    @extend %rubik-400;
    &::after {
      content: "/";
      position: absolute;
      right: 7px;
      top: 0;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    font-size: 14px;
    line-height: 28px;
    color: #888c91;
  }
}

.jq-ry-container {
  padding: 0;
}

.pagination {
  display: flex;
  @extend %rubik-400;
  color: #243f4d;
  &__arrows {
    display: inline-block;
    padding: 9px 20px;
    border: 1px solid #a3bbc8;
    color: #243f4d;
    transition: all 0.3s;
    margin-right: 15px;
    &:hover {
      background-color: #a3bbc8;
      color: #ffffff;
    }
  }

  &__list {
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin-right: 15px;
  }
  &__link {
    padding: 15px 20px;
    height: 50px;
    border: 1px solid #a3bbc8;
    color: #243f4d;
    transition: all 0.3s;
    &:hover {
      background-color: #a3bbc8;
      color: #ffffff;
    }
  }
  &__link.pagination__link--active {
    background-color: #a3bbc8;
    color: #ffffff;
  }
}

.blog-box {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
  margin: 0 30px;
  padding: 10px 0 16px;
  border-top: 1px solid #e0e0e0;
  @extend %rubik-400;
  &__author {
    margin-left: 25px;
  }
  &__author,
  &__data {
    color: #222933;
    transition: all 0.3s;
    padding-left: 20px;
    position: relative;
    &:hover {
      text-shadow: 0px 0px 3px rgba(#222933, 0.4);
    }
  }
  & svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    path {
      fill: #222933;
    }
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (max-width: 400px) {
  .pagination {
    &__arrows {
      display: none;
    }
  }
}
