@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

.header {
  padding: 55px 0 60px;
}
.wrapper {
  position: relative;
}

.logo {
  position: absolute;
  top: 0px;
  left: 15px;
}

.menu {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__list-item {
    margin-top: 6px;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: #436372;
    transition: all 0.3s;
    &:hover {
      color: #436372;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
}

.user-menu {
  position: absolute;
  top: 0px;
  right: 15px;
  display: flex;
  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    transition: all 0.3s;
  }
  &__link-search {
    background-color: #edf1f4;
    &:hover {
      background-color: #d0d3d6;
    }
  }
  &__link-bento {
    cursor: pointer;
    background-color: #a3bbc8;
    border: none;
    outline: none;
    & .user-menu__img-gallery {
      display: none;
    }
    & .user-menu__img-list {
      display: block;
    }
    &.products--active {
      & .user-menu__img-gallery {
        display: block;
      }
      & .user-menu__img-list {
        display: none;
      }
    }
    &:hover {
      background-color: #d0d3d6;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background-color: #fcd7b6;
    border-radius: 25px;
    width: 178px;
    height: 50px;
    position: relative;
  }
  &__items::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item-link {
    width: 27px;
    height: 26px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
  }
  &__item-link + .user-menu__item-link {
    margin-left: 53px;
  }
  &__item-num {
    position: absolute;
    width: 17px;
    height: 16px;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #fff;
    color: $default;
    font-size: 10px;
    line-height: 17px;
    @extend %dmsans-400;
    text-align: center;
  }
}

.footer {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default-home;
  & a {
    color: $default-home;
    line-height: 24px;
  }
}

.footer-top {
  padding-top: 80px;
  display: flex;
  padding-bottom: 70px;
  border-bottom: 1px solid #dae4e9;
  &__contacts {
    max-width: 200px;
    margin-right: 70px;
  }
  &__logo {
    display: block;
    margin-bottom: 24px;
  }
  &__address {
    font-style: normal;
    margin-bottom: 3px;
  }
  &__phone-link,
  &__email-link,
  &__link {
    transition: all 0.3s;
    &:hover {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.59);
    }
  }
  &__phone,
  &__email,
  &__item {
    margin-bottom: 8px;
  }
  &__nav,
  &__mailing {
    width: 270px;
    margin-left: 30px;
  }
  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    text-transform: uppercase;
    margin: 15px 0;
    color: #1f2044;
  }
  &__list {
    display: block;
    width: 200px;
  }
  &__text {
    padding-top: 3px;
    margin-bottom: 33px;
  }
  &__form {
    display: flex;
  }
  &__input {
    border: none;
    width: 170px;
    max-width: 100%;
    padding: 7px 15px;
    background-color: #fef7f0;
    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %rubik-400;
      background-color: #fef7f0;
    }
  }
  &__button {
    width: 100px;
    border: none;
    cursor: pointer;
    color: #fff;
    @extend %rubik-400;
    background-color: #a3bbc8;
    line-height: 21px;
    padding: 7px 18px 7px 16px;
    transition: all 0.3s;
    &:hover {
      background-color: #bbd6e5;
    }
  }
}

.footer-bottom {
  padding: 27px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
  }
  &__item + .footer-bottom__item {
    margin-left: 15px;
    padding-left: 16px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      height: 16px;
      background-color: $default-home;
      transform: translateY(-50%);
    }
  }
  &__link {
    transition: all 0.3s;
    &:hover {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.59);
    }
  }
}

.slider-top {
  background-color: #fcd7b6;
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 470px;
  }
  &__title {
    padding-top: 215px;
    font-size: 72px;
    line-height: 70px;
    color: $default;
    @extend %rubik-500;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__text {
    max-width: 370px;
    color: #436372;
    font-size: 18px;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  &__btn {
    display: inline-block;
    padding: 23px 100px 20px 28px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
    &::after {
      content: url("../images/arrow-slider-btn.png");
      position: absolute;
      right: 19px;
      top: 50%;
      width: 22px;
      height: 9px;
      transform: translateY(-50%);
    }
    &:before {
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      background: #bbd6e5;
      top: 0;
      left: auto;
      right: 0;
      z-index: -1;
      transition: all 0.5s ease;
    }
    &:hover {
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #bbd6e5;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
  }
  &__photo {
    margin-left: 60px;
    margin-top: 100px;
    padding-top: 175px;
    padding-bottom: 195px;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/slider-bg-img.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
      width: 100%;
      height: 100%;
      top: 0;
      right: -115px;
      z-index: -1;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  & li {
    margin: 0 5px 45px;
  }
  & button {
    border: none;
    background-color: transparent;
    @extend %rubik-500;
    font-size: 11px;
    line-height: 9px;
    width: 28px;
    height: 28px;
    position: relative;
    color: #667983;
    border-radius: 50%;
    background-color: #fde3cc;
    transition: all 0.3s;
  }
  .slick-active {
    & button {
      color: $default;
      background-color: #fff;
    }
  }
}

.service {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    width: 300px;
    display: flex;
    align-items: flex-start;
    padding: 40px 0;
  }
  &__icon {
    margin-top: 8px;
  }
  &__icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 21px;
    height: 21px;
    background-color: #fff;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
    margin-left: 25px;
    color: #414141;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    color: #585858;
  }
}

.products {
  padding: 65px 0 85px;
  &__title {
    margin-bottom: 17px;
  }
  &__filter-list {
    margin-bottom: 75px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    &.products--active {
      grid-template-columns: 1fr;
      .products__item {
        display: flex;
        box-shadow: none;
      }
      .products__item:nth-child(n + 5) {
        display: none;
      }
      .products__box-img {
        height: 500px;
        width: 370px;
        border: 1px solid #f2f2f2;
        margin-right: 30px;
        margin-bottom: 0;
      }
      .products__img {
        width: 83%;
        height: 70%;
        object-fit: contain;
      }
      .products__content {
        padding: 80px 30px 25px;
        text-align: left;
      }
      .products__text {
        font-size: 40px;
        line-height: 48px;
        color: #333333;
        @extend %rubik-400;
      }
      .products__price {
        font-size: 30px;
        line-height: 45px;
        text-align: left;
        color: #333333;
        @extend %rubik-400;
        margin-bottom: 20px;
      }
      .products__descripton {
        display: block;
        max-width: 450px;
        @extend %rubik-400;
        margin-bottom: 30px;
      }
      .products__star {
        display: block;
        margin: 20px 0 25px;
      }
      .products__group-btn {
        position: static;
        top: 0;
        left: 0;
        transform: none;
        justify-content: flex-start;
      }
      .products__btn {
        opacity: 1;
        border-radius: none;
        width: 50px;
        height: 50px;
        border-radius: 0;
        margin-left: 0;
        margin-right: 10px;
        position: relative;
        outline: none;
        &.products__btn--active {
          border-radius: 5px;
        }

        &::after {
          position: absolute;
          width: 0px;
          height: 50px;
          top: 0;
          left: 0;
          border-radius: 5px;
          text-transform: uppercase;
          @extend %rubik-400;
          color: #fff;
          font-size: 15px;
          line-height: 30px;
          background-color: inherit;
          z-index: -1;
          padding: 10px 0;
          box-shadow: 0px 8px 0px 40px #fff;
        }
        &-card.products__btn--active {
          &::after {
            content: "Add to cart";
            width: 208px;
            z-index: 1;
          }
        }
        &-wishlist.products__btn--active {
          &::after {
            content: "add to wishlist";
            width: 208px;
            left: -60px;
            z-index: 1;
          }
        }
      }
      .products__btn-searh {
        display: none;
      }
    }
  }
  &__item {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 8px;
    min-height: 380px;
    position: relative;
  }
  &__box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    padding: 0 5px;
    margin-bottom: 20px;
    width: 270px;
  }
  &__img {
    width: 80%;
    height: 79%;
    object-fit: contain;
  }
  &__item:hover .products__btn {
    opacity: 1;
  }
  &__group-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__btn + .products__btn {
    margin-left: 16px;
  }
  &__btn {
    border: none;
    padding: 0;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
    path {
      transition: all 0.3s;
    }
  }
  &__btn:hover {
    background-color: #a3bbc8;
    path {
      fill: #fff;
    }
  }
  &__btn:active {
    box-shadow: 0px 0 3px 0px rgba(#191919, 0.5) inset;
  }
  &__btn--active.products__btn-card,
  &__btn--active.products__btn-wishlist {
    background-color: #a3bbc8;
    opacity: 1;
    path {
      fill: #fff;
    }
  }
  &__content {
    margin-bottom: 32px;
    text-align: center;
  }
  &__text {
    line-height: 36px;
    color: $default;
    @extend %dmsans-500;
  }
  &__price {
    display: block;
    text-align: center;
    color: #a3bbc8;
    line-height: 24px;
    @extend %dmsans-700;
  }
  &__star,
  &__descripton {
    display: none;
  }
}

.product-best {
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-top: 100px;
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #feefe2;
  }
  &__images {
    transform: translateY(-95px);
  }
  &__content {
    max-width: 385px;
    width: 100%;
    margin-left: -20px;
    padding: 85px 0px 0 40px;
  }
  &__name {
    font-size: 26px;
    line-height: 32px;
    color: $default;
    margin-bottom: 15px;
  }
  &__description {
    @extend %rubik-400;
    color: $default;
    margin-bottom: 25px;
  }
  &__link {
    display: block;
    position: relative;
    border: 1px solid rgba(#b3b7b5, 0.4);
    font-size: 15px;
    line-height: 18px;
    border-radius: 5px;
    padding: 20px;
    width: 180px;
    color: #436372;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 3px 0px 0px rgba(34, 60, 80, 0.2);
      background-color: #f3e9e0;
    }
  }
  &__link-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.new-design {
  padding: 90px 0 120px;
  &__title {
    margin-bottom: 17px;
  }
  &__filter-list {
    margin-bottom: 75px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item {
    min-height: 246px;
    border-radius: 4px 4px 0px 0px;
    padding: 40px 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s;
  }
  &__link:hover .new-design__item {
    transform: scale(1.05);
  }
  &__item-title {
    line-height: 24px;
    font-size: 20px;
    color: $title-home;
    margin-bottom: 10px;
    width: 180px;
  }
  &__text {
    line-height: 24px;
    color: #a3bbc8;
  }
}

.video-promo {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    &::before {
      content: "";
      position: absolute;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background-color: rgba(163, 187, 200, 0.4);
    }
  }
  &__link {
    width: 98px;
    height: 98px;
    transition: all 0.3s;
    position: relative;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.blog {
  padding-top: 60px;

  margin-bottom: -170px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__more {
    position: relative;
    transition: all 0.3s;
    padding: 0 15px;
    color: #262626;
    &::after {
      content: url(../images/blog-view-arrow.svg);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      color: $title-home;
      text-shadow: 0px 0px 3px rgba(#262626, 0.59);
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1;
  }
  &__item-img {
    height: 250px;
    object-fit: cover;
  }
  &__label {
    text-transform: uppercase;
    @extend %popins-700;
    font-size: 14px;
    line-height: 20px;
    background-color: #a3bbc8;
    display: inline-block;
    padding: 5px 30px;
    margin-left: 28px;
    border-radius: 15px;
    transform: translateY(-50%);
    color: #ffffff;
  }
  &__content-title {
    display: block;
    font-size: 18px;
    max-width: 275px;
    line-height: 24px;
    @extend %dmsans-500;
    color: #262626;
    padding-bottom: 12px;
    background-color: #fff;
    transition: all 0.3s;
    flex-grow: 1;
    margin: 0 30px;
    &:hover {
      color: $title-home;
      text-shadow: 0px 0px 3px rgba(#262626, 0.59);
    }
  }
}

.partners {
  &.partners-no-blog {
    padding-top: 80px;
  }
  z-index: 0;
  background-color: #fbf5ee;
  padding: 265px 0 90px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.modal {
  padding: 120px 0;
  &__form {
    max-width: 470px;
    @extend %rubik-400;
    color: #436372;
    margin: 0 auto;
  }
  &__label {
    display: block;
    font-size: 14px;
    line-height: 1;
  }
  &__input {
    display: block;
    width: 100%;
    margin: 12px 0 24px;
    height: 60px;
    border: 2px solid #f6f6f6;
    padding: 0 15px;
  }
  &__btn {
    width: 100%;
    font-size: 18px;
    border: none;
    color: #ffffff;
    line-height: 1;
    padding: 20px 0 18px;
    background-color: #a3bbc8;
    cursor: pointer;
    margin-top: 10px;
  }
  &__remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f6f6f6;
    padding: 32px 0;
    margin-bottom: 28px;
  }
  &__remember-checkbox {
    position: absolute;
    appearance: none;
  }
  &__checkbox-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #ebebeb;
    border-radius: 2px;
    border: none;
    position: absolute;
  }
  &__remember-checkbox:checked + .modal__checkbox-icon {
    background-image: url("../images/icon/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__checkbox-desc {
    padding-left: 20px;
  }
  &__remember-password {
    font-size: 14px;
    line-height: 1;
    color: #436372;
    &:hover {
      color: #436372;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  &__link {
    display: block;
    padding: 12px 0;
    text-align: center;
    color: $default;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    border: 2px solid #a3bbc8;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59) inset;
      color: #436372;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
}

.info {
  padding: 112px 0 50px;
  color: $default;
  @extend %rubik-400;
  &__title {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 18px;
    @extend %rubik-500;
  }
  ol.info__list {
    margin-bottom: 40px;
    list-style: none;
    counter-reset: (counter);
  }
  &__item {
    margin-bottom: 18px;
    position: relative;
    padding-left: 40px;
    &:nth-child(n + 10)::before {
      content: counter(counter);
    }
    &::before {
      content: "0" counter(counter) ".";
      counter-increment: counter;
      position: absolute;
      top: 0;
      left: 6px;
    }
  }
  &__text {
    margin-bottom: 58px;
  }
}

.about {
  padding: 120px 0;
  color: $default;
  @extend %rubik-400;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 570px;
    width: 100%;
    padding-top: 85px;
    margin-left: 30px;
    padding-left: 20px;
  }
  &__experience {
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
  }
  &__experience-year {
    @extend %rubik-700;
    color: #a3bbc8;
    font-size: 140px;
    line-height: 105px;
  }
  &__experience-text {
    margin-left: 30px;
    span {
      display: block;
    }
  }
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  &__text {
    padding-bottom: 60px;
    border-bottom: 2px solid #ebeef3;
  }
  &__stat {
    display: flex;
    padding-top: 30px;
  }
  &__stat-item {
    color: #4c4c4c;
    @extend %dmsans-700;
    margin-left: 17px;
    line-height: 17px;
    padding: 5px 30px 15px 60px;
    border-right: 1px solid #e6eaf0;
    position: relative;
    &:last-child {
      border: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      background-repeat: no-repeat;
    }
  }
  &__stat-project::after {
    width: 36px;
    height: 37px;
    background-image: url("../images/icon/about-project.svg");
  }
  &__stat-revenue::after {
    width: 43px;
    height: 39px;
    background-image: url("../images/icon/about-revenue.svg");
  }
  &__stat-award::after {
    width: 41px;
    height: 40px;
    background-image: url("../images/icon/about-award.svg");
  }
  &__stat-num {
    color: $default;
    display: block;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 5px;
  }
}

.advant {
  padding: 85px 0 75px;
  background-color: #fcd7b6;
  text-align: center;
  color: $default;
  &__inner {
    display: flex;
    justify-content: space-around;
  }
  &__img {
    margin: 0 auto;
    height: 60px;
    margin-bottom: 20px;
  }
  &__num {
    font-size: 36px;
    line-height: 32px;
  }
  &__text {
    font-size: 18px;
    line-height: 32px;
  }
}

.team {
  padding: 120px 0 50px;
  color: $default;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    &:nth-child(1) {
      grid-row: span 2;
    }
  }
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  &__text {
    max-width: 300px;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  &__link {
    display: inline-block;
    @extend %popins-600;
    font-size: 15px;
    line-height: 28px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #a3bbc8;
    padding: 10px 60px 10px 18px;
    position: relative;
    transition: all 0.3s;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icon/team-arrow.svg");
      width: 15px;
      height: 11px;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
    &:hover {
      background-color: #bbd6e5;
    }
  }
  &__img {
    height: 320px;
    object-fit: cover;
    margin-bottom: -50px;
  }
  &__box {
    background-color: #ffffff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    max-width: 325px;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 20px 25px;
    position: relative;
  }
  &__name {
    font-size: 22px;
    line-height: 26px;
    color: #436372;
    margin-bottom: 5px;
    transition: all 0.3s;
    &:hover {
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
  &__position {
    color: #565872;
    @extend %rubik-400;
  }
  &__contact {
    display: flex;
    align-items: center;
  }
  &__contact-link {
    display: inline-block;
    margin-left: 6px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #f6f6f6;
    position: relative;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 6px 10px 0px rgba(37, 37, 37, 0.05) inset;
    }
    &:active {
      background-color: #bbd6e5;
    }
  }
  &__contact-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.shop {
  padding: 110px 0 125px;
  &__inner {
    display: flex;
  }
  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}
.filter {
  &__item {
    margin-bottom: 50px;
  }
  &__title {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    padding-right: 55px;
    &::after {
      content: "";
      position: absolute;
      width: 38px;
      height: 2px;
      right: 0;
      bottom: 50%;
      background-color: #a3bbc8;
    }
  }
}

.filter-category {
  &__label {
    display: block;
    width: 100%;
    margin-bottom: 1px;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
    }
  }
  &__checkbox {
    @extend %rubik-400;
    border-radius: 5px;
    line-height: 42px;
    padding: 0 20px 0 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 17px;
      right: 22px;
      background-image: url("../images/icon/arrow-right.svg");
      background-repeat: no-repeat;
      width: 5px;
      height: 10px;
      background-size: cover;
    }
  }
}

.filter-brand {
  &__label {
    display: block;
    width: 100%;
    margin-bottom: 1px;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
      .filter-brand__num {
        color: $default;
      }
    }
  }
  &__checkbox {
    @extend %rubik-400;
    border-radius: 5px;
    line-height: 42px;
    padding: 0 20px 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      display: block;
    }
  }
  &__num {
    color: #b3b3b3;
  }
}

.recent-products {
  &__item {
    display: flex;
    @extend %rubik-400;
    margin-bottom: 20px;
  }
  &__link-img {
    border: 2px solid #f2f2f2;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    object-fit: cover;
  }
  &__description {
    margin-top: -5px;
  }
  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 10px;
    transition: all 0.3s;
    &:hover {
      color: $default;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
  &__price {
    font-size: 15px;
    line-height: 23px;
    color: #333333;
    margin-top: 5px;
  }
}

.irs--flat .irs-min,
.irs--flat .irs-max,
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}
.irs--flat .irs-line {
  top: 11px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0px;
}
.irs--flat .irs-bar {
  top: 11px;
  height: 4px;
  background-color: #a3bbc8;
}
.irs--flat .irs-handle {
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.filter-price {
  &__box {
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1;
    margin-right: 5px;
    padding-bottom: 25px;
  }
}

.shop-content {
  width: 100%;
  &__inner {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 75px;
  }
}

.product-detalis {
  padding: 125px 0 100px;
  &__inner {
    display: flex;
    margin-bottom: 100px;
  }
  &__content {
    padding-top: 25px;
    padding-left: 15px;
    @extend %rubik-400;
  }
  &__title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #333333;
  }
  &__price {
    margin-top: 20px;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px;
    color: #333333;
  }
  &__text {
    max-width: 510px;
    color: $default;
    margin-bottom: 25px;
  }
  &__btn {
    border: none;
    background-color: #a3bbc8;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.75px;
    padding: 10px 50px;
    cursor: pointer;
  }
  &__form {
    margin-bottom: 50px;
  }
}

.detalis-info {
  &__link {
    color: $default;
  }
}

.slick-vertical .slick-slide {
  border: none;
}

.detalis-slide {
  margin-right: 50px;
  display: grid;
  grid-template-columns: 140px 385px;
  height: 530px;
  grid-column-gap: 30px;
  &__thumb-item {
    border: 2px solid #f2f2f2;
    margin-bottom: 25px;
    max-width: 140px;
    height: 160px;
    width: 100%;
    float: left;
    img {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }
  &__big-item {
    display: inline;
    border: 2px solid #f2f2f2;
    max-width: 385px;
    height: 530px;

    img {
      object-fit: scale-down;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }
}

.jq-number {
  padding: 2px 0;
  margin-right: 15px;
  position: relative;
  max-width: 148px;
  width: 100%;
  border: 1px solid #a3bbc8;
  &__field {
    width: 100%;
    border: none;
  }
  &__field input {
    text-align: center;
    width: 100%;
    padding: 0;
    border: none;
    font-size: 15px;
    line-height: 44px;
    @extend %rubik-400;
    color: #333333;
  }
  &__spin {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 1px;
      background-color: #333333;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__spin.plus {
    right: 0;
    border-left: 1px solid #a3bbc8;
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 8px;
      background-color: #333333;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__spin.minus {
    left: 0;
    border-right: 1px solid #a3bbc8;
  }
}

.product-detalis__tabs {
  &-top {
    display: flex;
    margin-bottom: 30px;
    margin-left: 165px;
  }
  &-link {
    margin-right: 15px;
    padding: 7px 20px;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 40px;
    border-radius: 5px;
    color: $default;
    background-color: #edf1f4;
    width: 240px;
    height: 54px;
    text-align: center;
    &.product-detalis__tabs--active {
      color: #fff;
      background-color: #a3bbc8;
    }
  }
  &-item {
    display: none;
    @extend %rubik-400;
    &.product-detalis__tabs--active {
      display: block;
    }
  }
}

.relate-products {
  padding-bottom: 50px;
  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 36px;
    color: $default;
  }
  &__btn-prev,
  &__btn-next {
    padding: 20px 12px;
    background-color: transparent;
    border: 2px solid #a3bbc8;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    outline: none;
    &.slick-disabled {
      border-color: #edf1f4;
    }
  }
  &__slide {
    margin: 0 auto;
    width: 1215px;
    text-align: center;
  }
  .products__item {
    margin-right: 30px;
    max-width: 270px;
    margin: 65px auto 60px;
  }
}

.blog-page {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 835px;
  }
  &__item-image {
    width: 835px;
    height: 500px;
    object-fit: cover;
  }
  .blog-box {
    padding: 0;
    margin: -70px 0 40px;
    display: inline-block;
    background-color: #a3bbc8;
    border: none;
    width: 275px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    path {
      fill: #fff;
    }
  }
  .blog-box__data,
  .blog-box__author {
    color: #ffffff;
  }
  &__item {
    margin-bottom: 50px;
  }
  &__item-title {
    color: #333333;
    font-size: 36px;
    line-height: 28px;
    margin-bottom: 35px;
    @extend %rubik-400;
  }
  &__item-text {
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__aside {
    max-width: 270px;
    width: 100%;
  }
  &__item-link {
    display: inline-block;
    padding: 25px 20px;
    @extend %nunito-700;
    width: 180px;
    height: 60px;
    border: 1px solid #a3bbc8;
    color: #a3bbc8;
    font-size: 15px;
    line-height: 12px;
    position: relative;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 0px 3px 0px #436372 inset;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icon/arrow-slick-right.svg");
      width: 22px;
      height: 9px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__search {
    margin-bottom: 50px;
  }
  &__search-form {
    display: flex;
  }
  &__search-text {
    border: 1px solid #dae4e9;
    border-radius: 5px;
    width: 270px;
    padding: 0 55px 0 10px;
    color: $default;
    outline: none;
    @extend %rubik-400;
    &:focus {
      &:focus {
        border: 1px solid #a3bbc8;
      }
    }
  }
  &__search-btn {
    background-color: #dae4e9;
    border-radius: 5px;
    width: 45px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-left: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.recent-post {
  .filter__title {
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    & + .recent-post__item {
      padding-top: 20px;
    }
  }
  &__img {
    min-width: 71px;
    height: 71px;
    object-fit: cover;
  }
  &__box {
    margin-left: 20px;
    @extend %rubik-400;
  }
  &__item-title {
    color: #333333;
    font-size: 14px;
    line-height: 20px;
  }
  &__item-date {
    display: block;
    color: #9a9a9a;
    font-size: 12px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icon/calendar.svg");
      width: 11px;
      height: 11px;
      left: 0;
      top: 7px;
    }
  }
}
.blog-one {
  &__text {
    h3 {
      font-size: 36px;
      line-height: 35px;
      margin-bottom: 25px;
      color: #333333;
      @extend %rubik-400;
    }
    p {
      @extend %rubik-400;
      margin-bottom: 40px;
    }
  }
  .blog-one__subtitle {
    @extend %rubik-500;
    margin-bottom: 10px;
  }
  &__blockquote {
    @extend %rubik-400;
    padding: 20px 40px;
    background-color: #edf1f4;
    border-left: 6px solid #a3bbc8;
    margin-bottom: 45px;
  }
  &__blockquote-author {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-top: 5px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 14px;
      height: 2px;
      width: 20px;
      background-color: #a3bbc8;
    }
  }
  &__text-box {
    margin-bottom: 45px;
    min-height: 210px;
    vertical-align: middle;
    img {
      float: left;
      margin-right: 30px;
    }
    & .blog-one__subtitle {
      padding-top: 25px;
    }
    p {
      margin: 0;
    }
  }
  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border: 2px solid #ebebeb;
    border-left: none;
    border-right: none;
  }
  &__author-box {
    display: flex;
  }
  &__author-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
  }
  &__author-name {
    padding-top: 10px;
    margin-left: 30px;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    @extend %rubik-500;
  }
  &__author-position {
    display: block;
    color: #666666;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 5px;
  }
  &__author-contact {
    min-width: 230px;
    padding: 0 20px;
    color: #333333;
  }
  &__author-tags {
    margin-right: 30px;
  }
  &__author-link {
    color: #999999;
    transition: all 0.3s;
    &:hover {
      color: $default;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
  &__author-social {
    margin-left: 20px;
    path {
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: #436372;
      }
    }
  }
  &__form {
    @extend %rubik-400;
    color: #999999;
    // line-height: 36px;
  }
  &__form-title {
    color: #436372;
    font-size: 24px;
    line-height: 36px;
    @extend %rubik-700;
    padding-bottom: 40px;
  }
  &__input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__input-wrapper,
  &__textarea-wrapper {
    position: relative;
  }
  &__textarea-wrapper {
    margin-bottom: -10px;
  }
  &__input,
  &__textarea {
    border: 1px solid #e5e5e5;
    width: 400px;
    height: 50px;
    outline: none;
    padding: 0 40px 0 20px;
    &:focus {
      border: 1px solid #a3bbc8;
    }
  }
  &__input-icon,
  &__textarea-icon {
    position: absolute;
    top: 18px;
    right: 20px;
  }
  &__textarea {
    height: 120px;
    width: 100%;
    margin-bottom: 40px;
    resize: none;
  }
  &__btn {
    color: #fff;
    background-color: #a3bbc8;
    text-transform: uppercase;
    border: none;
    height: 50px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 35px;
    cursor: pointer;
    letter-spacing: 1.2px;
    transition: all .3s;
    &:hover {
      box-shadow: 0px 3px 0px 0px rgba(34, 60, 80, 0.2);
      background-color: #f3e9e0;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
}

.comments {
  padding: 55px 0;
  &__title {
    color: #436372;
    font-size: 24px;
    line-height: 36px;
    @extend %rubik-700;
    padding-bottom: 50px;
  }
  &__item {
    display: flex;
    margin-bottom: 25px;
  }
  &__item:nth-child(odd) {
    margin-left: 130px;
    padding: 30px 0 25px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  &__item:last-child {
    border-bottom: none;
  }
  &__image {
    margin-right: 30px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__name {
    color: #436372;
    @extend %rubik-700;
  }
  &__date {
    color: #9e9e9e;
    @extend %rubik-400;
    font-size: 14px;
  }
  &__text {
    color: #565872;
    @extend %rubik-400;
    margin-bottom: 10px;
  }
  &__reply-link {
    color: #516278;
    @extend %rubik-400;
    display: inline-block;
    font-size: 14px;
    padding-right: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 14px;
      right: 0;
      top: 5px;
      background-image: url("../images/icon/arrow-right-comments.svg");
    }
  }
}

.contact {
  padding: 120px 0 60px;
  text-align: center;
  &__text {
    color: #a3bbc8;
    line-height: 20px;
    @extend %popins-700;
  }
  &__title {
    font-size: 35px;
    line-height: 57px;
    text-align: center;
    color: #436372;
    margin-bottom: 55px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  &__item + .contact__item {
    margin-left: 30px;
  }
  &__item {
    border: 1px solid transparent;
    width: 370px;
    min-height: 380px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      border: 1px solid #a3bbc8;
      & .contact__item-image {
        background-color: #a3bbc8;
        path {
          fill: #fff;
        }
      }
    }
  }
  &__item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    margin-bottom: 60px;
    transition: all 0.3s;
    path {
      transition: all 0.3s;
    }
  }
  &__item-title {
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 15px;
  }
  &__item-text {
    display: block;
    color: #565872;
    @extend %rubik-400;
  }
  &__item-link {
    color: inherit;
    transition: all 0.3s;
    &:hover {
      color: #436372;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
  &__bottom-box {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }
  &__form {
    min-width: 620px;
    margin-right: 50px;
    text-align: left;
  }
  .blog-one__textarea,
  .blog-one__input {
    background-color: #fafafa;
    color: #565872;
    ::placeholder {
      text-transform: uppercase;
      display: none;
    }
  }
  .blog-one__textarea-icon {
    path {
      fill: 565872;
    }
  }
  .blog-one__input-box {
    margin-bottom: 25px;
  }
  .blog-one__input {
    width: 300px;
  }
  .blog-one__textarea-wrapper {
    min-height: 175px;
    margin-bottom: -10px;
  }
  .blog-one__textarea {
    height: 175px;
    margin-bottom: 30px;
  }
  .blog-one__btn {
    @extend %popins-600;
    font-size: 15px;
    width: 200px;
    border-radius: 5px;
  }
}

#map {
  width: 500px;
  height: 335px;
}

@import "media";
