@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

.header {
  padding: 55px 0 60px;
}
.wrapper {
  position: relative;
}

.logo {
  position: absolute;
  top: 0px;
  left: 15px;
}

.menu {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__list-item {
    margin-top: 6px;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: #436372;
    transition: all 0.3s;
    &:hover {
      color: #436372;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
}

.user-menu {
  position: absolute;
  top: 0px;
  right: 15px;
  display: flex;
  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    transition: all 0.3s;
  }
  &__link-search {
    background-color: #edf1f4;
    &:hover {
      background-color: #d0d3d6;
    }
  }
  &__link-bento {
    background-color: #a3bbc8;
    &:hover {
      background-color: #d0d3d6;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    background-color: #fcd7b6;
    border-radius: 25px;
    width: 178px;
    height: 50px;
    position: relative;
  }
  &__items::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item-link {
    width: 27px;
    height: 26px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
  }
  &__item-link + .user-menu__item-link {
    margin-left: 53px;
  }
  &__item-num {
    position: absolute;
    width: 17px;
    height: 16px;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #fff;
    color: #243f4d;
    font-size: 10px;
    line-height: 17px;
    @extend %dmsans-400;
    text-align: center;
  }
}

.footer {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  & a {
    color: $default;
    line-height: 24px;
  }
}

.footer-top {
  padding-top: 80px;
  display: flex;
  padding-bottom: 70px;
  border-bottom: 1px solid #dae4e9;
  &__contacts {
    max-width: 200px;
    margin-right: 70px;
  }
  &__logo {
    display: block;
    margin-bottom: 24px;
  }
  &__address {
    font-style: normal;
    margin-bottom: 3px;
  }
  &__phone-link,
  &__email-link,
  &__link {
    transition: all 0.3s;
    &:hover {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.59);
    }
  }
  &__phone,
  &__email,
  &__item {
    margin-bottom: 8px;
  }
  &__nav,
  &__mailing {
    width: 270px;
    margin-left: 30px;
  }
  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    text-transform: uppercase;
    margin: 15px 0;
    color: #1f2044;
  }
  &__list {
    display: block;
    width: 200px;
  }
  &__text {
    padding-top: 3px;
    margin-bottom: 33px;
  }
  &__form {
    display: flex;
  }
  &__input {
    border: none;
    width: 170px;
    max-width: 100%;
    padding: 7px 15px;
    background-color: #fef7f0;
    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %rubik-400;
      background-color: #fef7f0;
    }
  }
  &__button {
    width: 100px;
    border: none;
    cursor: pointer;
    color: #fff;
    @extend %rubik-400;
    background-color: #a3bbc8;
    line-height: 21px;
    padding: 7px 18px 7px 16px;
    transition: all 0.3s;
    &:hover {
      background-color: #bbd6e5;
    }
  }
}

.footer-bottom {
  padding: 27px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
  }
  &__item + .footer-bottom__item {
    margin-left: 15px;
    padding-left: 16px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      height: 16px;
      background-color: $default;
      transform: translateY(-50%);
    }
  }
  &__link {
    transition: all 0.3s;
    &:hover {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.59);
    }
  }
}

.slider-top {
  background-color: #fcd7b6;
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 470px;
  }
  &__title {
    padding-top: 215px;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    @extend %rubik-500;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__text {
    max-width: 370px;
    color: #436372;
    font-size: 18px;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  &__btn {
    display: inline-block;
    padding: 23px 100px 20px 28px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
    &::after {
      content: url("../images/arrow-slider-btn.png");
      position: absolute;
      right: 19px;
      top: 50%;
      width: 22px;
      height: 9px;
      transform: translateY(-50%);
    }
    &:before {
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      background: #bbd6e5;
      top: 0;
      left: auto;
      right: 0;
      z-index: -1;
      transition: all 0.5s ease;
    }
    &:hover {
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #bbd6e5;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
  }
  &__photo {
    margin-left: 60px;
    margin-top: 100px;
    padding-top: 175px;
    padding-bottom: 195px;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/slider-bg-img.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
      width: 100%;
      height: 100%;
      top: 0;
      right: -115px;
      z-index: -1;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  & li {
    margin: 0 5px 45px;
  }
  & button {
    border: none;
    background-color: transparent;
    @extend %rubik-500;
    font-size: 11px;
    line-height: 9px;
    width: 28px;
    height: 28px;
    position: relative;
    color: #667983;
    border-radius: 50%;
    background-color: #fde3cc;
    transition: all 0.3s;
  }
  .slick-active {
    & button {
      color: #243f4d;
      background-color: #fff;
    }
  }
}

.service {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    width: 300px;
    display: flex;
    align-items: flex-start;
    padding: 40px 0;
  }
  &__icon {
    margin-top: 8px;
  }
  &__icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 21px;
    height: 21px;
    background-color: #fff;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
    margin-left: 25px;
    color: #414141;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    color: #585858;
  }
}

.products-week {
  padding: 65px 0 85px;
  &__title {
    margin-bottom: 17px;
  }
  &__filter-list {
    margin-bottom: 75px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
  &__item {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-height: 400px;
  }
  &__item:hover .products-week__btn {
    opacity: 1;
  }
  &__group-btn {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    top: 52%;
    transform: translateY(-25%);
  }
  &__btn + .products-week__btn {
    margin-left: 16px;
  }
  &__btn {
    border: none;
    padding: 0;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
    path {
      transition: all 0.3s;
    }
  }
  &__btn:hover {
    background-color: #a3bbc8;
    path {
      fill: #fff;
    }
  }
  &__btn:active {
    box-shadow: 0px 0 3px 0px rgba(#191919, 0.5) inset;
  }
  &__btn--active.products-week__btn-card,
  &__btn--active.products-week__btn-wishlist {
    background-color: #a3bbc8;
    opacity: 1;
    path {
      fill: #fff;
    }
  }

  &__text {
    line-height: 36px;
    color: #243f4d;
    @extend %dmsans-500;
    margin-bottom: 32px;
  }
  &__price {
    display: block;
    text-align: center;
    color: #a3bbc8;
    line-height: 24px;
    @extend %dmsans-700;
  }
}

.product-best {
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-top: 100px;
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #feefe2;
  }
  &__images {
    transform: translateY(-95px);
  }
  &__content {
    max-width: 385px;
    width: 100%;
    margin-left: -20px;
    padding: 85px 0px 0 40px;
  }
  &__name {
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 15px;
  }
  &__description {
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 25px;
  }
  &__link {
    display: block;
    position: relative;
    border: 1px solid rgba(#b3b7b5, 0.4);
    font-size: 15px;
    line-height: 18px;
    border-radius: 5px;
    padding: 20px;
    width: 180px;
    color: #436372;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 3px 0px 0px rgba(34, 60, 80, 0.2);
      background-color: #f3e9e0;
    }
  }
  &__link-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.new-design {
  padding: 90px 0 120px;
  &__title {
    margin-bottom: 17px;
  }
  &__filter-list {
    margin-bottom: 75px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item {
    min-height: 246px;
    border-radius: 4px 4px 0px 0px;
    padding: 40px 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s;
  }
  &__link:hover .new-design__item {
    transform: scale(1.05);
  }
  &__item-title {
    line-height: 24px;
    font-size: 20px;
    color: $title;
    margin-bottom: 10px;
    width: 180px;
  }
  &__text {
    line-height: 24px;
    color: #a3bbc8;
  }
}

.video-promo {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    &::before {
      content: "";
      position: absolute;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background-color: rgba(163, 187, 200, 0.4);
    }
  }
  &__link {
    width: 98px;
    height: 98px;
    transition: all 0.3s;
    position: relative;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.blog {
 
  padding-top: 110px;
  margin-bottom: -170px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__more {
    position: relative;
    transition: all 0.3s;
    padding: 0 15px;
    color: #262626;
    &::after {
      content: url(../images/blog-view-arrow.svg);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      color: $title;
      text-shadow: 0px 0px 3px rgba(#262626, 0.59);
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1;
  }
  &__item-img {
    height: 250px;
    object-fit: cover;
  }
  &__label {
    text-transform: uppercase;
    @extend %popins-700;
    font-size: 14px;
    line-height: 20px;
    background-color: #a3bbc8;
    display: inline-block;
    padding: 5px 30px;
    margin-left: 28px;
    border-radius: 15px;
    transform: translateY(-50%);
    color: #ffffff;
  }
  &__content-title {
    display: block;
    font-size: 18px;
    max-width: 275px;
    line-height: 24px;
    @extend %dmsans-500;
    color: #262626;
    padding-bottom: 12px;
    background-color: #fff;
    transition: all 0.3s;
    flex-grow: 1;
    margin: 0 30px;
    &:hover {
      color: $title;
      text-shadow: 0px 0px 3px rgba(#262626, 0.59);
    }
  }
  &__content-bottom {
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    margin: 0 30px;
    padding: 10px 0 16px;
    border-top: 1px solid #e0e0e0;
    @extend %rubik-400;
  }
  &__author {
    margin-left: 25px;
  }
  &__author,
  &__data {
    color: #222933;
    transition: all 0.3s;
    padding-left: 20px;
    position: relative;
    &:hover {
      text-shadow: 0px 0px 3px rgba(#222933, 0.4);
    }
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.partners {
  &.partners-login-page{
    padding-top: 80px;
  }
  z-index: 0;
  background-color: #fbf5ee;
  padding: 265px 0 90px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  }
}

.modal {
  padding: 120px 0;
  &__form {
    max-width: 470px;
    @extend %rubik-400;
    color: #436372;
    margin: 0 auto;
  }
  &__label {
    display: block;
    font-size: 14px;
    line-height: 1;
  }
  &__input {
    display: block;
    width: 100%;
    margin: 12px 0 24px;
    height: 60px;
    border: 2px solid #f6f6f6;
    padding: 0 15px;
  }
  &__btn {
    width: 100%;
    font-size: 18px;
    border: none;
    color: #ffffff;
    line-height: 1;
    padding: 20px 0 18px;
    background-color: #a3bbc8;
    cursor: pointer;
    margin-top: 10px;
  }
  &__remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f6f6f6;
    padding: 32px 0;
    margin-bottom: 28px;
  }
  &__remember-checkbox {
    position: absolute;
    appearance: none;
  }
  &__checkbox-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #ebebeb;
    border-radius: 2px;
    border: none;
    position: absolute;
  }
  &__remember-checkbox:checked + .modal__checkbox-icon {
    background-image: url("../images/icon/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__checkbox-desc {
    padding-left: 20px;
  }
  &__remember-password {
    font-size: 14px;
    line-height: 1;
    color: #436372;
    &:hover {
      color: #436372;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  &__link{
    display: block;
    padding: 12px 0;
    text-align: center;
    color: #243f4d;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    border: 2px solid #a3bbc8;
    transition: all .3s;
    &:hover {
      box-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59) inset;
      color: #436372;
      text-shadow: 0px 0px 3px rgba(67, 99, 114, 0.59);
    }
  }
}

@import "media";
